<%- include _header.ejs -%>

<div class="m-alert m-alert--success u-margin-top-xs u-margin-bottom-xs" style="padding: 1rem;">
  <%- title %>
</div>
<h5 class="u-margin-top-xs u-margin-bottom-xs">User:</h5>
<div>
  <dl class="a-definition-list">
    <dt>Service:</dt>
    <dd><%- user.service %></dd>
    <dt>Access token:</dt>
    <dd><%- user.accessToken %></dd>
    <dt>Profile URL:</dt>
    <dd><%- user.profile.url %></dd>
    <dt>Profile ID:</dt>
    <dd><%- user.profile.id %></dd>
  </dl>
</div>
<h6 class="u-margin-top-xs u-margin-bottom-xs">Profile response:</h6>
<pre class="a-pre a-pre--scrollable"><code contenteditable spellcheck="false"><%- user.profile.response %></code></pre>

<h5 class="u-margin-top-lg u-margin-bottom-xs">Active sessions:</h5>
<div>
  <dl class="a-definition-list">
    <dt>url:</dt>
    <dd><%- user.sessionsUrl %></dd>
    <dt>ssoKey:</dt>
    <dd><%- user.ssoKey %></dd>
  </dl>
</div>
<h6 class="u-margin-top-xs u-margin-bottom-xs">ActiveSessions response:</h6>
<pre class="a-pre a-pre--scrollable"><code contenteditable spellcheck="false"><%- sessions %></code></pre>

<h5 class="u-margin-top-lg u-margin-bottom-xs">Current session:</h5>
<div>
  <dl class="a-definition-list">
    <dt>url:</dt>
    <dd><%- user.sessionUrl %></dd>
    <dt>ssoKey:</dt>
    <dd><%- user.ssoKey %></dd>
    <dt>client_id:</dt>
    <dd><%- user.client_id %></dd>
  </dl>
</div>
<h6 class="u-margin-top-xs u-margin-bottom-xs">CurrentSession response:</h6>
<pre class="a-pre a-pre--scrollable"><code contenteditable spellcheck="false"><%- session %></code></pre>

<p class="u-margin-top-lg">
  <a class="a-button a-button--secondary" href="<%- user.logoutUrl %>">Logout</a>
</p>

<%- include _footer.ejs -%>
