<%- include _header.ejs -%>

<table>
    <tr>
        <td>Service</td>
        <td>
            <%- user.service %>
        </td>
    </tr>
    <tr>
        <td>Access token</td>
        <td>
            <%- user.accessToken %>
        </td>
    </tr>
    <tr>
        <td>Profile URL</td>
        <td>
            <%- user.profile.url %>
        </td>
    </tr>
    <tr>
        <td>Profile ID</td>
        <td>
            <%- user.profile.id %>
        </td>
    </tr>
    <tr>
        <td>Profile response</td>
        <td>
            <pre><code contenteditable spellcheck="false"><%- user.profile.response %></code></pre>
        </td>
    </tr>
</table>
<p>
    <input type="button" value="Log out" onclick="window.location.href = '<%- user.logoutUrl %>'" />
</p>
<p>
    <a href="../">Back to login page</a>
</p>

<%- include _footer.ejs -%>