<%- include _header.ejs -%>

<p  class="u-margin-top-xs">
    <a href="<%- urlAProfiel %>" id="linkAProfiel">AProfiel</a>
</p>
<p  class="u-margin-top-xs">
    <a href="<%- urlMProfiel %>" id="linkMProfiel">MProfiel</a>
</p>
<div class="a-input u-margin-top-xs" title="Adds &quot;save_consent=true&quot; to the authorize URL">
    <div class="a-input__checkbox">
        <input type="checkbox" id="saveConsent" name="consent" value="save" />
        <label for="saveConsent">Save consent</label>
    </div>
</div>

<script>
    function setUrl(linkElementId, baseUrl, saveConsent) {
        var url = baseUrl + (saveConsent ? '&save_consent=true' : '');
        $('#' + linkElementId).attr('href', url);
    }

    $(document).ready(function () {
        $('#saveConsent').change(function () {
            var checked = $(this).is(':checked');

            setUrl('linkAProfiel', '<%- urlAProfiel %>', checked);
            setUrl('linkMProfiel', '<%- urlMProfiel %>', checked);
        });
    });
</script>

<%- include _footer.ejs -%>