<%- include('_header') -%>

<% loginTypes.forEach(function(loginType) { %>
    <p  class="u-margin-top-xs">
        <a href="<%- loginType.url %>" id="link<%- loginType.key %>"><%- loginType.title %></a>
    </p>
<% }); %>

<div class="a-input u-margin-top" title="Adds &quot;save_consent=true&quot; to the authorize URL">
    <div class="a-input__checkbox">
        <input type="checkbox" id="saveConsent" name="consent" value="save" />
        <label for="saveConsent">Save consent</label>
    </div>
</div>

<script nonce='EDNnf03nceIOfn39fn3e9h3sdfa'>
    function setCookie(name, value, expire) {
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() + expire);
        document.cookie = name + "=" + escape(value) + "; expires=" + expireDate.toGMTString() + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    function setConsent(linkElementId, saveConsent) {
      const url = document.getElementById(linkElementId).getAttribute('href');
      if (url.includes('&save_consent=true') && !saveConsent ) {
        document.getElementById(linkElementId).setAttribute('href', url.replace('&save_consent=true', ''));
      }
      if (!url.includes('&save_consent=true') && saveConsent ) {
          document.getElementById(linkElementId).setAttribute('href', `${url}&save_consent=true`);
      }
    }
    document.getElementById('saveConsent').addEventListener('change', function(event) {
      const checked = document.getElementById('saveConsent').checked;
      <% loginTypes.forEach(function (loginType) { %>
         setConsent('link<%- loginType.key %>', checked);
      <% }); %>
    })
</script>

<%- include('_footer') -%>
