<%- include _header.ejs -%>

<p style="line-height: 1.6em;">
    <a href="<%- urlAProfiel %>" id="linkAProfiel">AProfiel</a>
    <br/>
    <a href="<%- urlMProfiel %>" id="linkMProfiel">MProfiel</a>
</p>
<p>
    <span title="Adds &quot;save_consent=true&quot; to the authorize URL">
        <input type="checkbox" id="saveConsent" name="consent" value="save" />
        <label for="saveConsent">Save consent</label>
    </span>
</p>

<script>
    function setUrl(linkElementId, baseUrl, saveConsent) {
        var url = baseUrl + (saveConsent ? '&save_consent=true' : '');
        $('#' + linkElementId).attr('href', url);
    }

    $(document).ready(function () {
        $('#saveConsent').change(function () {
            var checked = $(this).is(':checked');

            setUrl('linkAProfiel', '<%- urlAProfiel %>', checked);
            setUrl('linkMProfiel', '<%- urlMProfiel %>', checked);
        });
    });
</script>

<%- include _footer.ejs -%>