<%- include _header.ejs -%>

<% loginTypes.forEach(function(loginType) { %>
    <p  class="u-margin-top-xs">
        <a href="<%- loginType.url %>" id="link<%- loginType.key %>"><%- loginType.title %></a>
    </p>
<% }); %>

<div class="a-input u-margin-top" title="Adds &quot;save_consent=true&quot; to the authorize URL">
    <div class="a-input__checkbox">
        <input type="checkbox" id="saveConsent" name="consent" value="save" />
        <label for="saveConsent">Save consent</label>
    </div>
</div>

<script>
    function setUrl(linkElementId, baseUrl, saveConsent) {
        var url = baseUrl + (saveConsent ? '&save_consent=true' : '');
        $('#' + linkElementId).attr('href', url);
    }

    $(document).ready(function () {
        $('#saveConsent').change(function () {
            var checked = $(this).is(':checked');

            <% loginTypes.forEach(function (loginType) { %>
                setUrl('link<%- loginType.key %>', '<%- loginType.url %>', checked);
            <% }); %>
        });
    });
</script>

<%- include _footer.ejs -%>
